@import "tailwindcss";

@theme {
  --color-primary: #E07611;
  --color-primary-dark: #b05a09;
  --color-white: #ffffff;
  --color-muted: #626262;
  --color-dark: #444444;
  --color-text: var(--color-dark);
}

@layer base {
  body {
    color: var(--color-text);
  }
}